# ignore ALL .log files
finishedGame/systeminfo.txt
finishedGame/AIProduction.zip
finishedGame/RealProduction.zip
fakeimgs
realimgs
*.pth
cnn_model0.pth
cnn_model1.pth
cnn_model2.pth
cnn_model3.pth
cnn_model4.pth
cnn_model5.pth
cnn_model6.pth
cnn_model7.pth
cnn_model8.pth
cnn_model9.pth
cnn_model10.pth
cnn_model11.pth
cnn_model12.pth
cnn_model13.pth
cnn_model14.pth
cnn_model15.pth
cnn_model16.pth
cnn_model17.pth
cnn_model18.pth
cnn_model19.pth
cnn_model20.pth
cnn_model21.pth
cnn_model22.pth
cnn_model23.pth
cnn_model24.pth
cnn_model25.pth
cnn_model26.pth
cnn_model27.pth
cnn_model28.pth
cnn_model29.pth
cnn_model30.pth
cnn_model31.pth
cnn_model32.pth
cnn_model33.pth
cnn_model34.pth
cnn_model35.pth
cnn_model36.pth
cnn_model37.pth
cnn_model38.pth
cnn_model39.pth
cnn_model40.pth
cnn_model41.pth
cnn_model42.pth
cnn_model43.pth
cnn_model44.pth
cnn_model45.pth
cnn_model46.pth
cnn_model47.pth
cnn_model48.pth
cnn_model49.pth
cnn_model50.pth
cnn_model51.pth
cnn_model52.pth
cnn_model53.pth
cnn_model54.pth
cnn_model55.pth
cnn_model56.pth
cnn_model57.pth
cnn_model58.pth
cnn_model59.pth
cnn_model60.pth
cnn_model61.pth
cnn_model62.pth
cnn_model63.pth
cnn_model64.pth
cnn_model65.pth
cnn_model66.pth
cnn_model67.pth
cnn_model68.pth
cnn_model69.pth
cnn_model70.pth
cnn_model71.pth
cnn_model72.pth
cnn_model73.pth
cnn_model74.pth
cnn_model75.pth
cnn_model76.pth
cnn_model77.pth
cnn_model78.pth
cnn_model79.pth
cnn_model80.pth
cnn_model81.pth
cnn_model82.pth
cnn_model83.pth
cnn_model84.pth
cnn_model85.pth
cnn_model86.pth
cnn_model87.pth
cnn_model88.pth
cnn_model89.pth
cnn_model90.pth
cnn_model91.pth
cnn_model92.pth
cnn_model93.pth
cnn_model94.pth
cnn_model95.pth
cnn_model96.pth
cnn_model97.pth
cnn_model98.pth
cnn_model99.pth
cnn_model100.pth

*.zip
TrainingDataset1.zip
TrainingDataset2.zip
TrainingDataset3.zip
70gb.zip
archive (7).zip